/* Ignore following classes */

* {
    font-family: "Montserrat", sans-serif;
    background-color: #eeeeee;
  }
  
  #intro {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px;
  }
  
  .insideborder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .para {
    font-weight: 300;
    margin-left: 10px;
  }
  
  h2 {
    font-size: medium;
    font-weight: 200;
  }
  
  /* Classes that you might find useful */
  /* Note* These classes do not cover every possibloe case to build you flags, you will have to continue to add your own*/
  
  .flag {
    height: 300px;
    width: 500px;
    border-style: solid;
    margin-bottom: 5rem;
    
  }
  
  .horiz {
    display: flex;
    flex-direction: row;
  }
  
  .twovert {
    height: 50%;
  }
  
  .threevert {
    height: 33.3%;
  }
  .square {
    height:55.55%;
    
    
    
    margin-right:250px;
    margin-top: -300px;
    width:250px;
    position: relative;
    z-index:2;
    
    
  }

  .crossvert {
    margin-left: 100px;
    margin-top: -167px;
    height:55.6%;
    width:33.33px;
    position: relative;
    z-index: 3;
  }
  .crosshori {
    margin-left: 0px;
    margin-top: -100px;
    height:33.33px;
    width:50%;
    position: relative;
    z-index: 4;
  }
  


  .ninevert {
    height : 11.1%;
    position: relative;
    z-index:1;

  }


  /* .ninevert2 {
    
    height : 11.1%;
    margin-right:250px;
    margin-top: -300px;
    width:250px;
    position: relative;
    z-index:2;
    

  } */
  
  .threehoriz {
    width: 33.3%;
  }
  
  .skinny {
    height: 17.5%;
  }
  
  .fat {
    height: 30%;
  }
  
  .circle {
    border-radius: 50%;
    /* height: 200px;
    width: 200px; */
    position: relative;
    /* left: 85px;
    top: 50px; */
  }
  
  .threehori {
    width: 33.3%

  }







  /* .squarex {
    height:55.55%;
    width:35%;
    
  }
  .stripe1 {
    height: 100%;
    width:20%;
   flex-direction: column;
  } */

  /* .squarex {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  



  .image {
    width:100px;
    height:100px;
    margin-left: 40px;
    margin-top: 60%;
    
  }


    







  /* Colors/ Feel free to add your own! */
  
  .red {
    background-color: red;
  }
  
  .orange {
    background-color: orange;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .lightblue {
    background-color: lightblue;
  }
  
  .purple {
    background-color: purple;
  }
  
  .white {
    background-color: #fff;
  }
  .darkblue {
    background-color: #00308F;
  }
  .capri {
    background-color: #00BFFF;
  }